<!DOCTYPE html>
<html>
    <head>
        <title>SUPERSPORTS Home Page</title>
    </head>
    <body>
        <h1>SUPERSPORTS Home Page</h1>
        <h2>Welcome to the home page for SUPERSPORTS sporting goods store! Select link below to access page for table</h2>
        <br>
        <h2><a href="departments">departments</a><h2>
        <p>The store's departments. Able to create, read, update, and delete departments.<p>
        <h2><a href="employees">employees</a><h2>
        <p>The store's employees. Able to create, read, update, and delete employees<p>
        <h2><a href="items">items</a><h2>
        <p>The store's items for sale. Able to create, read, update, and delete items<p>
        <h2><a href="sales">sales</a><h2>
        <p>The store's sales. Able to create, read, update, and delete sales<p>
        <h2><a href="sale_details">sale details</a><h2>
        <p>The items associated with each sale. Able to create, read, update, and delete sale details<p>
    </body>
</html>
