<!DOCTYPE html>
<html>
    <head>
        <title>SUPERSPORTS HOME PAGE</title>
    </head>
    <body>
        <h1>SUPERSPORTS home page</h1>
        <h2>Welcome to the home page! Select link below to access page for table</h2>
        <ul>
            <li><a href="departments">departments</a></li>
            <li><a href="employees">employees</a></li>
            <li><a href="items">items</a></li>
            <li><a href="returns.html">returns</a></li>
            <li><a href="return_details.html">return details</a></li>
            <li><a href="sales.html">sales</a></li>
            <li><a href="sale_details.html">sale details</a></li>
        </ul>   
    </body>
</html>
