<html>
<head>
    <title>Items</title>   
</head>
<body>
    <h1>Items</h1>
    <a href="/">Home</a>
    <div>
		<form id="searchItem" action="/items" method="post">
			<input type="text" id="search" name="search" placeholder="Search Item Name" aria-label="Search">
			<button type="submit">Search</button>
            <a href='/items'><input class="btn" type="button" value="Reset"></a>
		</form>
	</div>
    <table border="1" cellpadding="5">
    <!-- Access data tuple passed from app.py --> 
    {% if data %}
        <thead>
            <tr>
                <!-- Iterate through each key in the first entry to get the column name -->
                {% for key in data[0].keys() %}
                
                <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
            
                <!-- End of this for loop -->
                {% endfor %} 
            </tr>

        <tbody>
            <!-- Now, iterate through every item in data -->{% for item in data %}
                <tr>
                    <!-- Then iterate through every key in the current item dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                    {% endfor %}

                    <!-- Create our edit/delete buttons -->
                    <td><a href="edit_item/{{item.item_id}}" class="btn btn-default">Edit</a></td>
                    <td><a href="delete_item/{{item.item_id}}" class="btn btn-default">Delete</a></td>

                </tr> 
                {% endfor %} 
        {% endif %} 
    </table>   
    <div id="insert">
        <form id="insertItem" action="/items" method="POST">
            <legend><strong>Add Item</strong></legend>
            <label for ="name">name</label>
            <input type="text" id="name" name="name" required>
            <label for ="price">price</label>
            <input type="text" id="price" name="price" required>
            <label for ="brand">brand</label>
            <input type="text" id="brand" name="brand" required>
            <label for ="clearance">clearance</label>
            <select id="clearance" name="clearance" required>
				<option value="0">0</option>
                <option value="1">1</option>
			</select>

            <label for="department">department:</label>
            <select id="department" name="department" placeholder="" required> 
                <!-- Access our department tuple passed from app.py-->
                <option value="">&nbsp;</option>
                {% for department in departments %}
                    <!-- If the value iterated value matches the value of the thing currently Editing, pre-select that option -->
                    {% if department['department_id'] == data[0].departments_department_id %}
                        <option value="{{ department['department_id'] }}" selected> {{department['department_name']}}</option>
                    {% else %}
                        <option value="{{ department['department_id'] }}"> {{department['department_name']}}</option> 
                    {% endif %}
                <!-- End of this for loop -->
                {% endfor %} 
            </select>	

            <input type="submit" value="Add" name="Add_Item">
        </form>
    </div>
</body>
</html>

