<!DOCTYPE html>
<html>
<head>
<title>returns</title>
</head>
<body>
    <a href="index.html">home</a>
    <a href="departments.html">departments</a>
    <a href="employees.html">employees</a>
    <a href="items.html">items</a>
    <a href="returns.html">returns</a>
    <a href="return_details.html">return details</a>
    <a href="sales.html">sales</a>
    <a href="sale_details.html">sale details</a>

    <div id="browse" style="display: block">
        <p>
            <strong>Browse returns</strong>
        </p>
        <table border="2" cellpadding="6">
            <thead>
                <tr>
                    <th><a href="#">New</a></th>
                    <th></th>
                    <th>return_id</th>
                    <th>return_date</th>
                    <th>employee_id</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>1</td>
                <td>2022-04-07 05:02:56</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>2</td>
                <td>2022-04-20 05:02:56</td>
                <td>2</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>3</td>
                <td>2022-04-29 05:02:56</td>
                <td>3</td>
            </tr>
        </tbody></table>
    </div>
    <div id="insert" style="display: block">
        <form id="add_return">
            <legend><strong>Add Return</strong></legend>
              <fieldset class="fields">
                <label> return_id</label> <input type="text" name="">
                <label> return_date</label> <input type="text" name="">
                <label> employee_id</label> <input type="text" name="">
              </fieldset>
              <input class="btn" type="submit" id="add_return" value="Add Return">
              <input class="btn" type="button" value="Cancel">
        </form>
    </div>
    <div id="update" style="display: block">
        <form id="update_return">
            <legend><strong>Update Return</strong></legend>
              <fieldset class="fields">
                <label> return_id</label>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <label> return_date</label> <input type="text" name="">
                <label> employee_id</label> <input type="text" name="">
              </fieldset>
              <input class="btn" type="submit" id="update_return" value="Update Return">
              <input class="btn" type="button" value="Cancel">
        </form>
    </div>
    <div id="delete" style="display: block">
        <form id="delete_return">
            <legend><strong>Delete Return</strong></legend>
              <fieldset class="fields">
                <label> return_id</label>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <label> return_date</label> <input type="text" name="">
                <label> employee_id</label> <input type="text" name="">
              </fieldset>
              <input class="btn" type="submit" id="delete_item" value="Delete Return">
              <input class="btn" type="button" value="Cancel">
        </form>
    </div>
</body>
</html>