<html>
<head>
    <title>Sales Details</title>   
</head>
<body>
    <h1>Sales Details</h1>
    <a href="/">Home</a>
    <table border="1" cellpadding="5">
    <!-- Access data tuple passed from app.py --> 
    {% if data %}
        <thead>
            <tr>
                <!-- Iterate through each key in the first entry to get the column name -->
                {% for key in data[0].keys() %}
                
                <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
            
                <!-- End of this for loop -->
                {% endfor %} 
            </tr>

        <tbody>
            <!-- Now, iterate through every item in data -->{% for item in data %}
                <tr>
                    <!-- Then iterate through every key in the current item dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td> 
                    {% endfor %}

                    <!-- Create our edit/delete buttons -->
                    <td><a href="edit_sale_details/{{item.sale_details_id}}" class="btn btn-default">Edit</a></td>
                    <td><a href="delete_sale_details/{{item.sale_details_id}}" class="btn btn-default">Delete</a></td>

                </tr> 
                {% endfor %} 
        {% endif %} 
    </table>   
    <div id="insert">
        <form id="insertSaleDetails" action="/sale_details" method="POST">
            <legend><strong>Add Sale Details</strong></legend>
            <label for ="items_item_id">items_item_id</label>
            <input type="text" id="items_item_id" name="items_item_id" required>
            <label for ="sales_sale_id">sales_sale_id</label>
            <input type="text" id="sales_sale_id" name="sales_sale_id" required>
            <input type="submit" value="Add" name="Add_Sale_Detail">
        </form>
    </div>
</body>
</html>

