<!DOCTYPE html>
<html>
<head>
<title>sale details</title>
</head>
<body>
    <a href="index.html">home</a>
    <a href="departments.html">departments</a>
    <a href="employees.html">employees</a>
    <a href="items.html">items</a>
    <a href="returns.html">returns</a>
    <a href="return_details.html">return details</a>
    <a href="sales.html">sales</a>
    <a href="sale_details.html">sale details</a>

    <div id="browse" style="display: block">
        <p>
            <strong>Browse sale details</strong>
        </p>
        <table border="2" cellpadding="6">
            <thead>
                <tr>
                    <th><a href="#">New</a></th>
                    <th></th>
                    <th>sale_details_id</th>
                    <th>sale_id</th>
                    <th>item_id</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>5</td>
                <td>3</td>
                <td>1</td>
            </tr>
        </tbody></table>
    </div>
    <div id="insert" style="display: block">
        <form id="add_sale_details">
            <legend><strong>Add Sale Details</strong></legend>
              <fieldset class="fields">
                <label> sale_details_id</label> <input type="text" name="">
                <label> sale_id</label> <input type="text" name="">
                <label> item_id</label> <input type="text" name="">
              </fieldset>
              <input class="btn" type="submit" id="add_sale_details" value="Add Sale Details">
              <input class="btn" type="button" value="Cancel">
        </form>
    </div>
    <div id="update" style="display: block">
        <form id="update_sale_details">
            <legend><strong>Update Sale Details</strong></legend>
              <fieldset class="fields">
                <label> sale_details_id</label> <input type="text" name="">
                <label> sale_id</label> <input type="text" name="">
                <label> item_id</label> <input type="text" name="">
              </fieldset>
              <input class="btn" type="submit" id="update_sale_details" value="Update Sale Details">
              <input class="btn" type="button" value="Cancel">
        </form>
    </div>
    <div id="delete" style="display: block">
        <form id="delete_sale_details">
            <legend><strong>Delete Sale Details</strong></legend>
              <fieldset class="fields">
                <label> sale_details_id</label> <input type="text" name="">
                <label> sale_id</label> <input type="text" name="">
                <label> item_id</label> <input type="text" name="">
              </fieldset>
              <input class="btn" type="submit" id="delete_sale_details" value="Delete Sale Details">
              <input class="btn" type="button" value="Cancel">
        </form>
    </div>
</body>
</html>